body{
    background-color:#f5dc4e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* nav section */
.nav-link-bg{
    background: #f5dc4e;
}
.title{
    float: left;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
}
.nav-link a{
    text-decoration: none;
    color: black;
    margin:auto;
    margin-left: 20px;
    float:right;
    margin-top: -5px;

}
.nav-link{
    margin-top: 20px;
}
@media(max-width: 600px) {
    .title{
        float: left;
        margin: auto;
        font-size: 15px;
        font-weight: bold;
    }
    .nav-link a{
        text-decoration: none;
        color: black;
        margin:auto;
        margin-left: 10px;
        font-size: 10px;
        float:right;
        margin-top: -5px;
    }
}
/* show item search section */
.seacrh_Sec{
    margin-bottom: 100px;
    margin-top: 100px;
}
.meal-img img{
    width: 100%;
    float:none;
    border-top-left-radius: 50px;
    box-shadow: 1px 1px 5px #858585;
}
.meal-name{
    background-color: white;
    width: 100%;
    margin: auto;  
    border-bottom-right-radius: 50px;
    box-shadow: 1px 1px 5px #858585;

}
#meal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2rem;
}
.meal-search .title{
    float:none;
    text-align: center;
    padding-bottom: 10px;
}
@media(max-width: 600px){
    .meal-img img{
        width: 100%;
        float:none;
    }
    .meal-name{
        background-color: white;
        width: 100%;
        margin: auto;  
    }
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;
    }
}
blockquote{
    float: none;
    text-align: center;
    opacity: 60%;
}
.meal-result .title{
    float: none;
    text-align: center;
    padding-bottom: 30px;
}
.meal-name h3{
    padding-top: 10px;
    text-align: center;
    float: none;
}
.meal-name .recipe-btn{
    background: purple;
    padding:10px;
    border-radius: 20px;
    color: white;
    width: 103px;
    text-decoration: none;
    margin-bottom: 20px;
}
.meal-search-box button{
    background-color: purple;
    color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.meal-search-box{
    width: 400px;
}

/* meal details */
.meal-details{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background: purple;
    overflow-y:scroll;
    width: 80%;
    height: 80%;
    padding:2rem;
    border-radius: 1rem;
    display: none;
}
.recipe-meal-img img{
    width: 40%;
}
.recipe-link{
    text-decoration: none;
    background: red;
    padding: 10px;
    border-radius: 100px;
    margin-top: 20px;
    width: 150px;
    text-align: center;
}
.recipe-link a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}
.recipe-link i{
    font-size: 20px;
    text-align: center;
}
.recipe-close-btn{
    color: white;
    font-size: 30px;
    position:absolute;
    right: 2rem;
    top:2rem;
    border:none;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
@media(max-width:576px){
    .recipe-meal-img img{
        width: 100%;
    }
}






/* about */
.about-title{
    font-size: 20px;
    font-weight: bold;
    border-left:4px solid purple;
}
.about-image img{
    width: 100%;
    height: 100%;
    padding:10px;
    box-shadow: 1px 1px 5px rgb(211, 194, 101);
}
